@import url('https://fonts.googleapis.com/css?family=Lexend+Deca');

.user-basic-details-container {
  margin: 0px;
  background-color: #BAD6F3;
  align-content: center;
  height: 100vh;
  overflow: hidden;
  text-align: center
}

.text {
  margin: 0px;
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
  color: #677E95;
  margin-top: 30px;
}

.profile-picture {
  width: 12vw;
	height: 12vw;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
  margin-top: 20vh;
  border-radius: 100%;
  background-image: url('https://images.unsplash.com/photo-1495078065017-564723e7e3e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80');
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
}

#name {
  font-size: 32px;
  color: #133352;
  font-weight: bold;
}

#age {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 16px;
  padding: 10px;
  background-color: #133352;
  color: #C9E1F9;
}

#contact {
  font-size: 16px;
  color: #10508E;
  padding-bottom: 10px;
  font-weight: bold;
  width: 30vw;
  size: auto;
}

.loading {
  border: none;
  background-color: #BBC9D6;
}

#firstName, #lastName {
  margin: 0px;
  text-align: center;
  font-size: 30px;
  font-family: 'Lexend Deca', sans-serif;
  color: #677E95;
}

.input-position {
  margin: 0;
  padding: 0;
}

.contact-details {
  text-align: center;
}

input {
  width: auto;
  border: none;
  background-color: transparent;
}

/* #full-name {
  display: inline-flex;
} */

.text {
  padding: 0px;
  margin: 0px;
  size: auto;
}
