@import url('https://fonts.googleapis.com/css?family=Lexend+Deca');

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.main-form-container {
  width: inherit;
  height: inherit;
  margin: 0px;
  padding: 0px;
  margin-top: 20vh;
}

#form-fields {
  width: 30vw;
  font-family: 'Lexend Deca', sans-serif;
}

#first-name-form {
  margin-bottom: 30px;
}

label {
  font-family: 'Lexend Deca', sans-serif;
}

.main-form-container {
  width: auto;
  text-align: center;
}

.heading {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 32px;
  font-weight: bold;
}

#field-label {
  font-family: 'Lexend Deca', sans-serif;
}

#form-group {
  margin-bottom: 30px;
}

#standard-number, #standard-mail, #standard-name {
  font-family: 'Lexend Deca', sans-serif;
}

#submit {
  margin-top: 20px;
  width: auto;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 0px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
}

#component-error-text {
  color: #964040 !important;
}

#field-label {
  font-family: 'Lexend Deca', sans-serif;
}

label {
  font-family: 'Lexend Deca', sans-serif;
}
