@import url('https://fonts.googleapis.com/css?family=Lexend+Deca');

.user-container {
  z-index: 997;
  position: fixed;
  right: 0;
}

#user-favicon {
  position: fixed;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-image: url('https://images.unsplash.com/photo-1495078065017-564723e7e3e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80');
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin: 32px;
  transition-property: all;
  transition-duration: 0.5s;
}

#user-favicon:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

#favicon-toggle {
  visibility: hidden;
}

#details-drop {
  opacity: 0;
}

#favicon-toggle:checked + #details-drop {
  opacity: 1;
  transform: scale(1);
}

#details-drop {
  margin: 0px;
  margin-top: 50px;
  margin-right: 10px;
  background-color: #FFFFFF;
  padding: 20px;
  transform: scale(0.8);
  transition-property: all;
  transition-duration: 0.25s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

p {
  font-family: 'Lexend Deca', sans-serif;
}
