@import url('https://fonts.googleapis.com/css?family=Lexend+Deca');

.drop-container {
  margin: 28px;
  right: 0;
}

.search-bar {
  height: 35px;
  background-color: #ECF6FF;
  border-radius: 5px;
}

.search-bar-ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline-flex;
  padding: 6px;
  font-family: 'Lexend Deca', sans-serif;
}

.icon {
  margin-left: 10px;
  margin-right: 15px;
  height: 20px;
  width: auto;
  margin-top: 2px;
}

#search-naked {
  width: 150px;
  padding: 0px;
  font-family: 'Lexend Deca', sans-serif;
  transition-property: all;
  transition-duration: 0.25s;
}

#search-naked:focus {
  width: 200px;
}

#component-error-text {
  font-family: 'Lexend Deca', sans-serif;
  color: red;
}