@import url('https://fonts.googleapis.com/css?family=Lexend+Deca');

.app-container {
  width: 100%;
  height: 100vh;
}

.drop-container {
  margin-right: 35vw;
  position: fixed;
}

#tog-label, #menu-toggle {
  position: fixed;
  z-index: 999;
}

#nav-menu {
  z-index: 998;
}

#tog-label {
  margin: 20px;
  background-color: #BAD6F3;
  height: 55px;
  width: 55px;
  border-radius: 100%;
  transition-property: all;
  transition-duration: 0.5s;
}

#tog-label:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

#tog-icon {
  margin: 12px;
  padding: 0px;
  width: 30px;
  height: 30px;
}

#nav-container {
  z-index: 998;
  position: fixed;
  width: 100%;
  background-color: #BAD6F3 ;
  height: 100vh;
  left: -100%;
  transition-property: all;
  transition-duration: 0.5s;
}

#message {
  opacity: 0;
  transition-property: all;
  transition-duration: 0.5s;
}

#menu-toggle:checked + #nav-container {
  left: 0;
}

#menu-toggle:checked #menu-toggle {
  transform: rotate(45)
}

#menu-toggle:checked + #nav-container p {
  opacity: 1;
}

#menu-toggle {
  visibility: hidden;
}

#message {
  text-align: center;
  margin-top: 40vh;
  font-size: 40px;
  font-family: 'Lexend Deca', sans-serif;
  color: #4B81B5;
}